<h2>Suma de numeros</h2>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Numero 1</label>
            <input type="number" class="form-control" [(ngModel)]="num1" name="num1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Numero 2</label>
            <input type="number" class="form-control" [(ngModel)]="num2" name="num2">
        </div>
        <button type="button" class="btn btn-primary" (click)="miSuma()">Sumar</button>
    </form>
</div>

<div class="card">
  <div class="card-body">
    Resultado = {{ resultado }}
  </div>
</div>